body {
    background-color: #d3c9c9
}

main p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em
}

.baires {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2, h3, p {
    padding: 0 10px;
}

div {
    display: flex;
}