html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(211, 201, 201, 0.5);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

/* HEADER */

.biggersize {
    font-size: 1.2em;
    padding: 0 10px;
    text-align: justify;
}

.caba {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

/* MAIN > Section*/

main div {
    padding: 0 2rem;
}

.top {
    padding: 0 2rem;
    font-size: small;
}


/* the photo of lujan Basilica_de_Nuestra_Senora_de_Lujan768x1030.jpg is displayed cut*/

.baires {
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
}

h1 {
    margin: 0;
    padding: 0;
}

h2, h3 {
    text-align: center;
}

h2 {
    background-color: rgba(78, 74, 74, 0.5);  
    padding: 1em 0;
    width: 100%;    
}

h3 {
    background-color: rgba(112, 107, 107, 0.5);
    width: 100%;
}

.eat {
    margin: 0 0 20px 0;
}

ul>li {
    text-align: center;
}

.myLinks li {
    text-align: left;

}

/* FOOTER */

footer {
    background-color: grey;
    font-style: italic;
    text-align: center;
    padding: 0.5em 0;
}

/* MAIN AND FOOTER */

a:link {
    color: red
}

a:visited {
    color: red;
}

a:hover {
    color: blue;
}

a:active {
    color: red
}

/* NAVIGATION */

/* Style the navigation menu */

  /* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    height: 0;
    overflow: hidden;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.topnav>div>a {
    font-size: 14px;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: black;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #4CAF50;
    color: white;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.active h1 {
    
}

ul>li {
    list-style: none;
}

ul {
    padding: 0;
}

.copy {
    text-align: left;
    font-size: small;
    padding-left: 10px;
}

i {
    transition: .5s ease-in-out;
    cursor: pointer;
}

#myLinks {
    transition: 0.5s;
    position: fixed;
}

.myLinks li {
    padding: 20px;
    text-align: center;
    font-size: 200px;
}

.myLinks a {
    font-size: 40px;
}

@media (min-width: 962px) {

    .baires, .caba {
        border-radius: 25px;
    }
    
    .caba {
        width: 75%;
        height: auto;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.7em;
    }

    p {
        font-size: 1.4em;
    }

    .topnav a {   
        font-size: 40px;
    }

    .myLinks a {
        font-size: 50px;    
    }

    .container {
        display: flex;
    }

    .container img {
        flex-grow: 1;
        width: 50%;
    }

    .container p {
        flex-grow: 1;
        padding: 0 30px;
        
    }

    .biggersize {
        text-align: center;
        padding: 0 5%;
    }

    .eat a {
        font-size: x-large;
    }

    #weather p {
        text-align: center;
    }

    .myLinks li {
        padding: 20px;
    }

    #icon {
        font-size: 50px;
    }

    
}